{
  "extends": [
    "plugin:@typescript-eslint/recommended",
    "next",
    "prettier"
  ],
  "rules": {
    "react/no-unescaped-entities": "off",
    "react/no-unknown-property": ["error", { "ignore": ["jsx", "tsx"] }]
  }
}