.services-card {
    width: 100%;
    padding: 0 10px;
    height: fit-content;
    overflow: hidden;

    @media (hover: hover) and (pointer: fine) {
        &:hover {
            .services-card-title {

                h3 {
                    color: var(--page-main-color, $green);
                }

                svg {
                    transform: translateX(8px);
                    stroke: var(--page-main-color, $green);
                }

            }

            .services-card-cloud {
                opacity: 1;
                transform: translate(-50%, -50%) scale(1);
            }
        }
    }



    &-wrapper {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        width: 100%;
        text-decoration: none;
        color: $black;
    }

    &-top {
        position: relative;
        padding: 0rem 2rem 1rem 2rem;

        @include small-medium {
            padding: 2rem;
        }
    }

    &-cloud {
        position: absolute;
        z-index: 0;
        top: 50%;
        left: 50%;
        height: 120px;
        min-width: 210px;
        max-width: 100%;
        transform: translate(-50%, -50%);
        opacity: 0;
        transition: opacity 0.5s;
        max-height: 80px;

        @include large {
            max-height: none;
            min-width: 210px;
        }

        img {
            width: 100%;
            height: 100%;
            object-fit: contain;
        }
    }

    &-icon {
        position: relative;
        z-index: 1;

        img {

            max-width: 100px;
            max-height: 70px;

            @include large {
                max-width: 130px;
                max-height: 85px;
            }
        }
    }

    &-title {
        position: relative;
        z-index: 1;
        width: fit-content;
        text-align: center;

        h3 {
            margin: 0;
            transition: 0.3s;
            display: flex;
            align-items: center;
            @include fluid-font(1.75rem, 0.667);

            svg {
                transition: 0.3s;
                margin-left: 5px;
            }
        }
    }

    &-description {
        position: relative;
        z-index: 1;
        margin-top: 1rem;
        max-width: 280px;
        text-align: center;

        @include medium {
            max-width: 320px;
        }

        @include xl {
            max-width: 500px;
        }

        h1,
        h2,
        h3,
        h4,
        h5,
        h6,
        p {
            margin: 0;
            font-family: $font-primary-regular;

            @include fluid-font(1.625rem, 0.615);
        }
    }
}


.services-card.other-services {
    &.active {
        opacity: 0.5;
        pointer-events: none;
    }

    .services-card-title {
        h3 {
            @include fluid-font(1.25rem, 0.8);
        }
    }
}