
.hamburger {
    background: transparent;
    outline: 0;
    border: none;
    cursor: pointer;
    display: block;
    width: fit-content;
    height: fit-content;
    margin-right: 0.5rem;

    @include larger{
        display: none;
    }

    .line {
        display: block;
        width: 30px;
        height: 3px;
        background: $black;
        transition: 200ms;
        transform-origin: 50% 50%;

        &:nth-child(2) {
            margin: 6px 0;
        }
    }

    &.is-active {
        .line:nth-child(2) {
           opacity: 0;
           transform: translateX(100px);
           margin: 0;
        }

        .line:nth-child(1) {
            margin: 0;
            transform: rotate(45deg) translateY(4px) ;
        }
        .line:nth-child(3) {
            margin: 0;
            transform: rotate(-45deg) translateY(-4px) ;
        }
    }
}