
.client-logo {
    width: 100%;
    height: auto;
    display: block;

    img {
        filter: grayscale(100%);
        object-fit: contain;
        width: 100%;
    }

    &.clickable {

        &:hover {
            img {
                filter: grayscale(0%);
            }
        }
    }
}